@import url("./gridLayout.css");
@import url("bootstrap/dist/css/bootstrap.min.css");

#content-layout{
    background-color: #f5e5f5;
}
#header-layout{
    background-color: #2e2e2e;
}
#leftside-layout{
    background-color: #8f8f8f;
}
#rightside-layout{
    background-color: #6e6e6e;
}
#leftside_menu-items{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.leftside_menu-item{

}
.leftside_menu-item p{
    display: inline-block;
}


#feed_stories{
    overflow-x: auto;
}
#content-layout{
    overflow-y: auto;
}