@import url("./gridLayout.scss");
@import url("bootstrap/dist/css/bootstrap.min.css");

#header-layout,
#leftside-layout,
#rightside-layout{
    background-color: white;
}

#content-layout{
    background-color: #80808033;
}
#leftside_menu-items{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.leftside_menu-item p{
    display: inline-block;
}

#feed_stories{
    overflow-x: auto;
}
#content-layout{
    overflow-y: auto;
}