#root {
  display: grid;
  grid-template-columns: [colRootStart] 20% [colRoot1] 60% [colRoot2] 20% [colRootEnd];
  grid-template-rows: [rowRootStart] 10% [rowRoot1] 90% [rowRootEnd];
}
#leftside-layout,
#rightside-layout,
#header-layout,
#content-layout{
  display: grid;
}

#header-layout {
  grid-column-start: colRootStart;
  grid-column-end: colRootEnd;
  grid-row-start: rowRootStart;
  grid-row-end: rowRoot1;
}

#leftside-layout {
  grid-column-start: colRootStart;
  grid-column-end: colRoot1;
  grid-row-start: rowRootStart;
  grid-row-end: rowStartEnd;
}

#rightside-layout {
  grid-column-start: colRoot2;
  grid-column-end: colRootEnd;
  grid-row-start: rowRootStart;
  grid-row-end: rowRootEnd;
}

/* main content*/
#content-layout {
  grid-column-start: colRootStart;
  grid-column-end: colRootEnd;
  grid-row-start: rowRoot1;
  grid-row-end: rowRootEnd;
}

.inner-col-layout{
  display: grid;
  grid-template-columns: 
  [colstart] 5% [col1] 10% [col2] 5% [col3] 
  7% [col4] 5% [col5] 8% [colInner1] 20% [colInner2] 8% [col6] 5% [col7] 7% [col8] 
  20% [colend];
  // grid-template-rows: [rowstart] 10% [row1] 5% [row2] 15% [row3] 10% [row4] 5% [row5] 30% [rowInner] 25% [rowend];
}

#inner-row-layout{
  display: grid;
  // grid-template-columns: [colstart] 5% [col1] 10% [col2] 5% [col3] 5% [col4] 5% [col5] 7% [colInner1] 21% [colInner2] 7% [col6] 5% [col7] 10% [col8] 20% [colend];
  // grid-template-rows: [rowstart] 10% [row1] 5% [row2] 15% [row3] 10% [row4] 5% [row5] 30% [rowInner] 25% [rowend];
}

#feed-content {
  grid-column-start: col4;
  grid-column-end: col7;
}

#me-content{
  grid-column-start: col4;
  grid-column-end: colRootEnd;
}

#me-posts-layout{
  display: grid;
  grid-template-columns: [post0] 25% [post1] 25% [post2] 25% [post3] 25% [post4];
  // grid-template-rows: [rowstart] 10% [row1] 5% [row2] 15% [row3] 10% [row4] 5% [row5] 30% [rowInner] 25% [rowend];  
}

// z-index
#leftside-layout{
  z-index: 4;
}
#header-layout{
  z-index: 3;
}
#rightside-layout{
  z-index: 2;
}
#content-layout{
  z-index: 1;
}